# Normalize line endings in the repository; check out with native endings.
* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
gradlew text eol=lf

*.jar binary
*.png binary
*.webp binary
*.jks binary
*.keystore binary
*.apk binary
